<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Inspire - {{ config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/inspire.css">
</head>
<body>
    {{ page.content }}
    <script src="/js/inspire.js"></script>
</body>
</html>
